# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
.pnp/
.pnp.js

# Testing
coverage/

# Production
dist/
build/

# Optional runtime data
pids
*.pid
*.seed

# Vite / React output
frontend/dist/

# dotenv files
.env
.env.local
.env.*.local

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Mac system files
.DS_Store

# Ignore top-level public folders except images
frontend/public/*.svg
!frontend/public/images/

# Ignore all images EXCEPT tracked ones
!frontend/public/images/*.png
